.bannerContainer {
  width: 100%;
  background-color: hwb(32 26% 0%);
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
  position: relative;
  margin-bottom: 25px; /* Añade un margen inferior para separar el banner del título */
}
  
  .bannerText {
    font-family: 'DIN Condensed', sans-serif; /* Fuente para títulos */
    display: inline-block;
    padding-left: 100%; /* Inicia el texto fuera de la pantalla */
    animation: scrollText 25s linear infinite; /* Animación de desplazamiento */
    font-size: clamp(0.8rem, 3vw, 1.5rem); /* Escala progresiva */
    font-weight: bold;
    color: hsl(0, 0%, 25%); /* Texto blanco para contrastar con el fondo */
    white-space: normal; /* Permitir saltos de línea */
    padding: 8px 0; /* Reducir espaciado vertical */
  }

  /* Animación más lenta para móvil */
@media (max-width: 480px) {
  .bannerText {
    animation: scrollText 35s linear infinite;
  }
}
  
  @keyframes scrollText {
    from {
      transform: translateX(100%); /* Comienza desde la derecha */
    }
    to {
      transform: translateX(-100%); /* Termina en la izquierda */
    }
  }